.tetris {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68%;
  height: 73%;
  background-color: #FAF3F0;
  color: #fff;
  font-family: Arial, sans-serif;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playground {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #111;
}

.restart-button {
  background-color: #FF8181;
  color: #111;
  border: none;
  height: 5%;
  width: 7%;
  cursor: pointer;
}

.row {
  display: flex;
}

.cell {
  width: 25px; /* 더 작은 크기로 조정 */
  height: 25px; /* 더 작은 크기로 조정 */
  border: 1px solid #CCCCCC;
  background-color: #ffffff; /* 이 스타일 유지 */
}

.score-container {
  position: absolute;
  top: 10%;
  right: 10%;
}

.score {
  color: #111;
  padding: 5px 10px;
  border-radius: 5px;
}

.tetromino {
  background-color: #ddd;
}