/* Tetris.css */

.tetris {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.playground {
  width: "100%";
  height: "100%";
  display: flex;
  flex-direction: column;
  position: relative;
}


.row {
  display: flex;
  flex-shrink: 0; /* 이 부분 추가 */
}


.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  background-color: #222; /* 이 스타일 유지 */
}

.tetromino {
  background-color: #ddd;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: "100%";
  height: "100%";
}

.restart-button {
  margin-top: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}